# Додаємо базові правила .gitignore для розробки .NET та середовища
# .NET Build папки та кеші
[Bb]in/
[Oo]bj/
.vs/
.vscode/
.fake/

# Конфігурація та файли, специфічні для користувачаappsettings.json
appsettings.*.json
*.user
*.suo

# Файли, специфічні для ОС
Thumbs.db
.DS_Store